body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:450px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  font-family:'CooperBlackMS', 'Cooper Black';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
