body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:450px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:450px;
}
#u2 {
  position:absolute;
  left:2px;
  top:217px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:450px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  font-family:'CooperBlackMS', 'Cooper Black';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:22px;
  top:36px;
  width:276px;
  height:36px;
  font-family:'CooperBlackMS', 'Cooper Black';
  font-weight:900;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:36px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:22px;
  top:400px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
