body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:450px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:450px;
}
#u2 {
  position:absolute;
  left:2px;
  top:217px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:pan-y;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:450px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  font-family:'CooperBlackMS', 'Cooper Black';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:170px;
  top:300px;
  width:150px;
  height:150px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u8 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:140px;
  width:300px;
  height:131px;
  font-family:'CooperBlackMS', 'Cooper Black';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:141px;
}
#u10 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:22px;
  top:36px;
  width:276px;
  height:36px;
  font-family:'CooperBlackMS', 'Cooper Black';
  font-weight:900;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:36px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:22px;
  top:400px;
  width:100px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
