---
layout: post
title:  "Team Project 4: Low Fidelity User Testing Results"
date:   2014-11-11 13:30:00
permalink: assignment4
---

Here is a link to the PDF of the report:
[Low Fidelity Paper Prototype User Testing Results]({{site.files}}/LowFidelityUserTestingResults.pdf).




