body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:450px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:450px;
}
#u2 {
  position:absolute;
  left:2px;
  top:217px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:pan-y;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:450px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  font-family:'CooperBlackMS', 'Cooper Black';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:170px;
  top:300px;
  width:150px;
  height:150px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u8 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:138px;
  width:200px;
  height:150px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u10 {
  position:absolute;
  left:2px;
  top:60px;
  width:196px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:110px;
  top:237px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
